*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}
li{
    display: flex;
}
/*  CLASSI UTILITIES */
.style-button{
    font-size: 20px;
    padding: 10px 15px;
    background-color: rgba(0,97,255,255);
    color: white;
    border: none;
}
ul{
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: black;
}

p{
    font-size: 17px;
    
}
.column-70{
    width: 70%; 
}

.column-30{
    width: 30%;  
}

.column-100{    
    width: 100%;
  
}
.content{
   margin: 20px 0;
}

.style-ul > li{
    padding: 20px 0;

}
.wrap{
    flex-wrap: wrap;
}
.inline-block{
    display: inline-block;
    padding-right: 60px;
}

.border{
    border: 1px solid black;
}
.padding{
    padding: 20px;
}

.margin-bottom{
    margin-bottom:100px;
    margin-top: 40px;

}
/* FINE CLASSI UTILITIES */
/* INIZIO CLASSI HEADER */
header{
    height: 100px;  
}

.row{
    height: 100%;
    display: flex; 
}

.column-nav{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.nav{
    font-size: 20px;
}

.nav > li{
    display: inline-block;
    margin:0 10px;
}

#logo{
    display: inline-block;
    padding-top: 10px;
}

ul{
    list-style: none;
}
.check::before{
    content: '✓';
    padding: 0 5px;
    font-size: 20px;
    color:blue
}

/* FINE CLASSI HEADER */

/* INIZIO CLASSI MAIN */
main a{
    color: cornflowerblue;
}
/* CLASSI PRIMA SEZIONE */
.jumbotron{
    background-color: rgba(180,208,231,255);
}

.big-container{
    max-width: 1400px;
    margin:0 auto;  
}

h2{
    font-size: 40px;
    padding: 30px 0;
    margin-top: 40px;
}
#arrow{
    font-size: 50px;
    margin-top: 30px;
}

.position-relative{
    position:relative
}

.position{
    position: absolute;
    left: 0;
    top:5px
}

h1{
    margin-top:90px;
    font-weight: 800;
    font-size: 80px;
}

.img-dimension{
    width: 90%;
}
/* FINE CLASSI PRIMA SEZIONE */
/* INZIO CLASSI SECONDA SEZIONE */
.container{
    margin: 0 auto;
    max-width: 1170px;
    margin-top: 50px;
}

.radio{
    padding-right: 10px;
    
}

.column-price {    
    width: 30%; 
}

#olny-space-between{
    display: flex;
    justify-content: space-between;
}
.column-33{
    margin: 10px;
    width: calc(100%/3 - 20px)
}

.user{
    text-align: center;
    border-bottom: 1px solid black; 
    padding:10px 
}

.fa-solid{
    padding-right: 5px;
}
.price-list{
    margin:20px 20px
}

.price-list > li{
    padding: 5px 0;
}

.purchase-link{
    padding: 20px;
}

.center{
    text-align: center;
}

hr{
    width: 10%;
    margin-left: 20px;
    margin-top: 10px;
    border-bottom: 0;
}

.grey-text{
    color: grey;
}
.bold{
    font-weight: 700;
}
/* FINE CLASSI SECONDA SEZIONE */
.position-button{
    position: absolute;
    right: 20px;
    top: 20px;
}

h3 {
    font-size: 25px;
    padding: 20px 0;
}

h4{
    padding-bottom: 20px;
    
}

/* li div{
    display: inline-block;
    
} */
/* INIZIO CLASSI TERZA SEZIONE */



/* FINE CLASSI TERZA SEZIONE */
.column-60{
    width: 60%;
    
}

.column-40{
    width: 40%; 
    
}
/* INIZIO CLASSI QUARTA SEZIONE */
/* FINE CLASSI QUARTA SEZIONE */
/* INZIO CLASSI QUINTA SEZIONE */
.position-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.img-dimension-fix{
    width: 50%;
    /* height: 50%; */
    filter: invert(100%);

}
.column-50{
    width: calc(100%/2);
    height: calc(100%/2);
}

.flex-center{
   display: flex;
   justify-content: center;
   align-items: center;
    
}

.column-logo{
    width: calc(100%/3);
   height: calc(100vw/3);
   background-color:rgba(245,245,245,255) ;
}


.flex-space-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
    
.column-20{
  
    width: 20%;
    margin: 40px 10px;
}

#hr-logo-svg{
    margin: 30px 0;
    width: 20%;
    border-bottom: 0;
    color: gray;

}
/* FINE CLASSI QUINTA SEZIONE */
.flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
    

#faq{
    border-bottom: 1px solid black;
}

.accordion{
    border-bottom: 1px solid black;
    padding: 30px 0;
    font-weight: 700;
}

.angle_down{
    padding:0 40px;
}

#square-1{
    background-color: rgba(162,211,155,255) ;
}

#square-2{
    background-color:rgba(97,8,43,255) ;
}

#square-3{
    background-color:rgba(0,147,206,255) ;
}

#square-4{
    background-color:rgba(255,28,28,255) ;
}
#square-5{
    background-color:rgba(213,0,31,255) ;
}
#square-6{
    background-color:rgba(180,208,231,255) ;
}
#square-7{
    background-color:rgba(13,36,129,255) ;
}#square-8{
    background-color:rgba(255,216,48,255) ;
}


/* FINE CLASSI MAIN */
/* CLASSI FOOTER */
footer{
    background-color: black;
    color: white;
}
footer a {
    text-decoration: none;
    color: white;
}

.footer-list li{
    padding: 5px 0;

}


#language{
    display: inline-block;
    border-top: 1px solid white;
    padding: 10px 0;
}
